<div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://img.ltwebstatic.com/images3_pi/2021/06/15/16237357921484eb3c862d31b97c5b89481adfee46_thumbnail_600x.webp" class="h-75 d-inline-block" style="width: 1200px;" alt="Wild Landscape"/>
    </div>
    <div class="carousel-item">
      <img src="https://img.ltwebstatic.com/images3_pi/2022/06/20/1655709844afc20e0197f3b9df804a4f2a5e61c790_thumbnail_600x.webp" class="h-75 d-inline-block" style="width: 1200px;" alt="Camera"/>
    </div>
    <div class="carousel-item">
      <img src="https://img.ltwebstatic.com/images3_pi/2022/01/14/16421413915d3d9045607b0c568655cd8f2efc931f_thumbnail_600x.webp" class="h-75 d-inline-block" style="width: 1200px;" alt="Exotic Fruits"/>
    </div>
  </div>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

</div>